/* setup */
	* {
		box-sizing: border-box;
		margin: 0; padding: 0;
	}
	:root {
		--text-color: #7c3e52;
		--bg-color: #ffffff;

		font-size: 16px;
		font-family: sans-serif;
	}
	body {
		color: var(--text-color);
		padding: 4px 8px;
	}

/* typography */
	/* spacing */
		h1, h2, h3, h4, h5, h6, p {
			line-height: 2ex;
			margin-bottom: 1ex;
		}

	/* headers */
		h1 { font-size: 3rem; }
		h2 { font-size: 2rem; }
		h3 { font-size: 1.3rem; }

	/* lists */
		li {
			margin-left: 2ch;
		}

/* inline elements */
	/* links */
		a { 
			color: var(--text-color);
			text-decoration: underline;
		}
		a:hover {
			color: var(--bg-color);
			background: var(--text-color);
			text-decoration: none;
		}

/* layout */

	/* gallery grid */
		.gallery-grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			grid-gap: 8px;
			justify-content: left;
		}
		.gallery-grid-item {
			border: 1px solid var(--text-color);
			padding: 2px 4px 4px;
			position: relative;
			z-index: 0;
		}
		.gallery-grid-item-image {
			width: 100%;
			aspect-ratio: 1/1;
			background-color: none;
			background-position: top center;
			background-size: cover;
			background-repeat: no-repeat;
		}